GROQ_API_KEY="your_new_groq_key"
AVIATIONSTACK_API_KEY="your_new_aviationstack_key"
TAVILY_API_KEY="your_new_tavily_key"

DATABASE_URL="postgresql://username:NEW_PASSWORD@host:5432/database"

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_new_langsmith_key"
LANGSMITH_PROJECT="tripo"